EMS_APP_ENV=production
EMS_FORCE_HTTPS=1
EMS_DB_HOST=your-database-host
EMS_DB_USER=your-database-user
EMS_DB_PASSWORD=your-database-password
EMS_DB_NAME=your-database-name
EMS_MAIL_FROM=noreply@example.com
